@model IEnumerable<AddressListViewModel>

@{
	ViewData["Title"] = "My Addresses";
}
<h1>@ViewData["Title"]</h1>

<div class="container mb-3">
	<a asp-controller="Addresses" asp-action="Add" class="btn btn-success col-sm w-auto m-1 mb-3">Add New Address</a>
	
</div>
@if (!Model.Any())
{
	<h4>You haven't added any addresses yet.</h4>
}

<div class="list-group ">

@foreach(var address in Model){
	<div class="list-group-item bg-white bg-opacity-50 justify-content-center mb-3">
	<div class="row">		
			<div class="col col-md-5">@address.StreetAddress</div>
			<div class="col col-md-2">@address.City</div>
			<div class="col col-md-2">@address.Country</div>
			<a asp-controller="Addresses" asp-action="Edit" asp-route-id="@address.Id" class="col-1 ms-auto d-flex mt-auto mb-auto link-primary text-decoration-none"><i class="fa-solid fa-pencil"></i></a>
			<a onclick="return confirm('Are you sure?')" asp-controller="Addresses" asp-action="Delete" asp-route-id="@address.Id" asp-route-subcategoryId="@address.Id" asp-route-addressId="@address.Id" class=" col col-1 d-flex mt-auto mb-auto me-1 link-primary text-decoration-none delete-button"><i class="fa-solid fa-trash"></i></a>
	</div>
	</div>

}
</div>

