@model IEnumerable<GalleryViewModel>
@inject IImageService imageService
@{
	ViewData["Title"] = "Browse Galleries";

}



<div class="container-fluid">
	<h2>@ViewData["Title"]</h2>
	<div class="row">
	<div class="container mb-3">
	<a asp-area="Admin" asp-controller="Galleries" asp-action="Add" class="btn btn-success col-sm w-auto m-1">Add Gallery</a>
	</div>
</div>
	<div class="row">
		@if (Model.Any())
		{
			@foreach (var gallery in Model)
			{
				<div class="col-md-4 mb-5">
					<div class="card mb-3" data-toggle="tooltip" data-placement="bottom" title="@gallery.Description">
						<a class="text-decoration-none text-black fw-normal" asp-area="Admin" asp-controller="Galleries" asp-action="Show" asp-route-galleryId="@gallery.Id">
							<div class="card-body">
								<h5 class="card-title ">@gallery.Name</h5>
								<img src="data:img/jpg;base64,@await imageService.GetAsync(gallery.ImageId)" class="card-img-bottom" alt="@gallery.Name">
							</div>
						</a>
					</div>
					<div class="row">
						<a asp-area="Admin" asp-controller="Galleries" asp-action="Edit" asp-route-galleryId="@gallery.Id" class="col-1 ms-auto me-1 d-flex mt-auto mb-auto link-dark text-decoration-none"><i class="fa-solid fa-pencil"></i></a>
						<a data-toggle="confirmation" data-title="Are you sure?" asp-area="Admin" asp-controller="Galleries" asp-action="Delete" asp-route-galleryId="@gallery.Id" class="col-1 d-flex ms-1 mt-auto mb-auto me-auto link-dark text-decoration-none"><i class="fa-solid fa-trash"></i></a>
					</div>
				</div>
			}
		}


	</div>
</div>

@section Scripts {
	<script src="https://kit.fontawesome.com/2d34f22aab.js" crossorigin="anonymous"></script>
}