@model ProductFormViewModel

	@{
	ViewData["Title"] = "Add Product";

}


<div class="container mt-5">
		<h2 class="mb-3">@ViewData["Title"]</h2>

	<form id="categoryForm" enctype="multipart/form-data" method="post">
		<div class="mb-3">
			<label asp-for="CategoryId" class="form-label">Category</label>
			<select asp-for="CategoryId" class="form-select category-select" aria-label="Select Category">
				@foreach (var category in Model.CategoryOptions)
				{
					@if (category.Id == Model.CategoryId)
					{
						<option value="@category.Id" selected>@category.Name</option>
					}
					else
					{
						<option value="@category.Id">@category.Name</option>
					}
				}
			</select>

		</div>

		<div class="mb-3">
			<label asp-for="SubcategoryId" class="form-label">Subcategory</label>
			<select asp-for="SubcategoryId" class="form-select subcategory-select" aria-label="Select Subcategory">
				@foreach (var subcategory in Model.SubcategoryOptions)
				{
					@if (subcategory.Id == Model.CategoryId)
					{
						<option value="@subcategory.Id" selected>@subcategory.Name</option>
					}
					else
					{
						<option value="@subcategory.Id">@subcategory.Name</option>
					}
				}
			</select>

		</div>

		<div class="mb-3">
			<label asp-for="ProductSeriesId" class="form-label">Product Series</label>
			<select asp-for="ProductSeriesId" class="form-select productseries-select" aria-label="Select Product Series">
				@foreach (var series in Model.ProductSeriesOptions)
				{
					@if (series.Id == Model.ProductSeriesId)
					{
						<option value="@series.Id" selected>@series.Name</option>
					}
					else
					{
						<option value="@series.Id">@series.Name</option>
					}
				}
			</select>

		</div>

		<div class="mb-3">
			<label asp-for="Name" class="form-label">Product Name</label>
			<input asp-for="Name" value="@Model.Name" class="form-control name-input" autocomplete="Enter series name here" aria-required="true" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>



		<div class="mb-3">
			<label asp-for="Description" class="form-label">Description:</label>
			<textarea asp-for="Description" class="form-control description-input" rows="4">@Model.Description</textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Price" class="form-label">Price:</label>
			<input asp-for="Price" value="@Model.Price" class="form-control price-input" autocomplete="Enter price here" aria-required="true" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Price" class="form-label">Upload Images:</label>
			<input asp-for="Images" value="" type="file" multiple id="allImages" class="form-control file-input" hidden/>
			<input value="" type="file" multiple id="imageBatch" class="form-control"/>
			<span asp-validation-for="Price" class="text-danger"></span>
			<div class="m-1 image-preview-gallery row">

			</div>
		</div>

		

		<div class="mb-3">
			<a class="btn btn-outline-dark col-2 mb-1" data-bs-toggle="collapse" href="#colorsOptions" role="button" aria-expanded="true" aria-controls="colorsOptions">Colors</a>
			<div class="collapse m-1" id="colorsOptions">

				@foreach (var color in Model.ColorOptions)
				{
					<div class="form-check color-select">
						<input name="ColorIds" class="form-check-input" type="checkbox" multiple value="@color.Id" id="Color @color.Id" @(Model.DefaultColorIds.Contains(color.Id) ? "checked" : "")>
						<span style="background-color:@color.ColorValue;width:18px;height:18px;display:flex;border-radius:40px;border:1px solid black;"></span>
					</div>
				}
			</div>
		</div>
		<div class="mb-3">
			<a class="btn btn-outline-dark col-2" data-bs-toggle="collapse" href="#materialsOptions" role="button" aria-expanded="true" aria-controls="materialsOptions">Materials</a>
			<div class="collapse m-1" id="materialsOptions">

				@foreach (var material in Model.MaterialOptions)
				{
					<div class="form-check material-select">
						<input name="MaterialIds" class="form-check-input" type="checkbox" multiple value="@material.Id" id="Material @material.Id" @(Model.DefaultMaterialIds.Contains(material.Id) ? "checked" : "")>
						<label for="Material @material.Id">@material.Name</label>
					</div>
				}
			</div>
		</div>
		<div class="mb-3">
			<a class="btn btn-outline-dark col-2" data-bs-toggle="collapse" href="#tagsOptions" role="button" aria-expanded="true" aria-controls="tagIds">Tags</a>
			<div class="collapse m-1" id="tagsOptions">

				@foreach (var tag in Model.TagOptions)
				{
					<div class="form-check tag-select">
						<input name="TagIds" class="form-check-input" type="checkbox" multiple value="@tag.Id" id="Tag @tag.Id" @(Model.DefaultTagIds.Contains(tag.Id) ? "checked" : "")>
						<label for="Tag @tag.Id">@tag.Name</label>
					</div>
				}

			</div>
		</div>



		<div>

			<button type="submit" asp-area="Admin" asp-controller="Products" asp-action="Add" class="btn btn-primary">Add Product</button>
		</div>
	</form>
</div>

<!-- Add the Bootstrap JS script -->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/fetchSubcategories.js"></script>
	<script src="~/js/fetchProductSeries.js"></script>
	<script src="~/js/fetchDefaultValues.js"></script>
	<script src="~/js/uploadMultipleImages.js"></script>
}
