@model ProductEditFormViewModel
@inject IImageService imageService
	@{
	ViewData["Title"] = $"Edit Product - {Model.Name}";

}
<h2>@ViewData["Title"]</h2>

<div class="container mt-5">
	<form id="categoryForm" enctype="multipart/form-data" method="post">
		<input hidden asp-for="CategoryId" value="@Model.CategoryId"/>
		<input hidden asp-for="SubcategoryId" value="@Model.SubcategoryId"/>
		<input hidden asp-for="ProductSeriesId" value="@Model.ProductSeriesId"/>

		<div class="mb-3">
			<label asp-for="Name" class="form-label">Product Series Name</label>
			<input asp-for="Name" value="@Model.Name" class="form-control name-input" autocomplete="Enter series name here" aria-required="true" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>



		<div class="mb-3">
			<label asp-for="Description" class="form-label">Description:</label>
			<textarea asp-for="Description" class="form-control description-input" rows="4">@Model.Description</textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Price" class="form-label">Default Price:</label>
			<input asp-for="Price" value="@Model.Price" class="form-control price-input" autocomplete="Enter price here" aria-required="true" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>

		

		<div class="mb-3">
			<label>Images</label>
			
			<div class="row">
			@foreach(var imageId in Model.ImageIds){
				<input hidden name=startingImageIds value="@imageId"/>
				<div class="col-md-2">
						<img src="data:img/jpg;base64,@await imageService.GetAsync(imageId)"  class="card-img mb-2" alt="@Model.Name">
						<a href="#" id="@imageId" class="text-decoration-none col-1 d-flex m-auto link-dark text-decoration-none delete-button"><i class="fa-solid fa-trash"></i></a>
						<input hidden name="keptImageIds" value="@imageId">
					</div>
			}
			</div>
		</div>

		<div class="mb-3">
			<label asp-for="Images" class="form-label">Add more images:</label>
			<input asp-for="Images" value="@Model.Images" type="file" multiple id="allImages" class="form-control file-input" hidden/>
			<input value="" type="file" multiple id="imageBatch" class="form-control"/>
			<span asp-validation-for="Price" class="text-danger"></span>
			<div class="m-1 image-preview-gallery row">

			</div>
		</div>

		

		<div class="mb-3">
			<a class="btn btn-outline-dark col-2 mb-1" data-bs-toggle="collapse" href="#colorsOptions" role="button" aria-expanded="true" aria-controls="colorsOptions">Colors</a>
			<div class="collapse m-1" id="colorsOptions">

				@foreach (var color in Model.ColorOptions)
				{
					<div class="form-check color-select">
						<input name="ColorIds" class="form-check-input" type="checkbox" multiple value="@color.Id" id="Color @color.Id" @(Model.ColorIds.Contains(color.Id) ? "checked" : "")>
						<span style="background-color:@color.ColorValue;width:18px;height:18px;display:flex;border-radius:40px;border:1px solid black;"></span>
					</div>
				}
			</div>
		</div>
		<div class="mb-3">
			<a class="btn btn-outline-dark col-2" data-bs-toggle="collapse" href="#materialsOptions" role="button" aria-expanded="true" aria-controls="materialsOptions">Materials</a>
			<div class="collapse m-1" id="materialsOptions">

				@foreach (var material in Model.MaterialOptions)
				{
					<div class="form-check material-select">
						<input name="MaterialIds" class="form-check-input" type="checkbox" multiple value="@material.Id" id="Material @material.Id" @(Model.MaterialIds.Contains(material.Id) ? "checked" : "")>
						<label for="Material @material.Id">@material.Name</label>
					</div>
				}
			</div>
		</div>
		<div class="mb-3">
			<a class="btn btn-outline-dark col-2" data-bs-toggle="collapse" href="#tagsOptions" role="button" aria-expanded="true" aria-controls="tagIds">Tags</a>
			<div class="collapse m-1" id="tagsOptions">

				@foreach (var tag in Model.TagOptions)
				{
					<div class="form-check tag-select">
						<input name="TagIds" class="form-check-input" type="checkbox" multiple value="@tag.Id" id="Tag @tag.Id" @(Model.TagIds.Contains(tag.Id) ? "checked" : "")>
						<label for="Tag @tag.Id">@tag.Name</label>
					</div>
				}

			</div>
		</div>



		<div>

			<button type="submit" asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id"  class="btn btn-primary">Apply Changes</button>
		</div>
	</form>
</div>

<!-- Add the Bootstrap JS script -->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	@*<script src="~/js/fetchSubcategories.js"></script>*@
	@*<script src="~/js/fetchProductSeries.js"></script>*@
	@*<script src="~/js/fetchDefaultValues.js"></script>*@
	<script src="~/js/uploadMultipleImages.js"></script>
	<script src="~/js/deleteOldImages.js"></script>
	<script src="https://kit.fontawesome.com/2d34f22aab.js" crossorigin="anonymous"></script>
}
