@*@model IEnumerable<CategoryListViewModel>*@
@inject IMenuService menuService
@inject IImageService imageService
@inject IHelperService helperService
@{
	var Menu = await menuService.GetMenuCategoriesAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - VelvetLeaves</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/VelvetLeaves.App.styles.css" asp-append-version="true" />

</head>
<body>
	@*<img class="d-block" id="background" src="data:img/jpg;base64,@await imageService.GetAsync(await helperService.Background())" />*@



	<header>
		<nav id="mainNavBar" class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

			<a class="navbar-brand text-lg-center link-dark btn btn-light" asp-area="" asp-controller="Home" asp-action="Index">@(await helperService.RootNavigationName())</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
				<ul class="nav flex-grow-1">
					@if (Menu != null)

					{



						@foreach (var category in @Menu)

						{
							<li class="nav-item dropdown">

								<a href="" class="nav-link dropdown-toggle m-2 text-dark btn btn-light" id="category@(category.Id)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									@category.Name
								</a>
								<div class="dropdown-menu border-0" aria-labelledby="category@(category.Id)">

									<a asp-area="" asp-controller="Products" asp-action="ProductsFiltered" asp-route-categoryId="@category.Id" class="dropdown-item">All</a>
									@foreach (var subcategory in category.Subcategories)
									{
										<a asp-area="" class="dropdown-item" asp-controller="Products" asp-action="ProductsFiltered" asp-route-subcategoryId="@subcategory.Id">@subcategory.Name</a>
									}

								</div>


							</li>
						}
					}

					<li class="nav-item">
						<a class="nav-link m-2 text-dark btn btn-light" asp-controller="Galleries" asp-action="All">Galleries</a>


					</li>
				</ul>
				<partial name="_LoginPartial" />
			</div>

		</nav>
	</header>
	<div class="container">

		<main role="main" class="pb-3">
			<div class="blurred-bg">
				<img class="d-block" src="data:img/jpg;base64,@await imageService.GetAsync(await helperService.Background())" />
			</div>

			<div id="content">
				@RenderBody()
			</div>

		</main>
	</div>

	<footer class="border-top footer text-muted bg-white">
		<div class="d-flex flex-row">
			<div class="ps-2  pe-4">
				&copy; 2023 - VelvetLeaves.App
			</div>
			<div class=" pe-4">
				<a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
			</div>
			<div class=" pe-4">
				<a class="text-decoration-none text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
			</div>
		</div>
		
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
	<script src="~/js/site.js" asp-append-version="true"></script>
	@*<script src="https://kit.fontawesome.com/2d34f22aab.js" crossorigin="anonymous"></script>*@
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>


	@await RenderSectionAsync("Scripts", required: false)
	<partial name="_NotificationsPartial"></partial>

</body>
</html>
