@model ShoppingCartViewModel
@inject IImageService imageService;
@inject IHelperService helperService;
@{
	ViewData["Title"] = "Shopping cart";
}



	<form method="post">
		<input asp-for="Currency" value="@Model.Currency" hidden />




		<h1 class="mb-4">Shopping Cart</h1>


		<div class="row w-auto ms-0 me-0 ps-0 pe-0 cart-items">
			<table class="table shadow-lg bg-transparent full-cart @(Model.Items.Any() ? "d-block" : "d-none")">
				<thead>
					<tr class="row ">
						<th class="col-2 d-none d-lg-block"></th>
						<th class="col-3 d-none d-lg-block">Product</th>
						<th class="col-1 d-none d-lg-block">Price</th>
						<th class="col-1 d-none d-lg-block">Quantity</th>
						<th class="col-1 d-none d-lg-block">Total</th>
						<th class="col-1 d-none d-lg-block"></th>

					</tr>
				</thead>

				<tbody>

					@for (int i = 0; i < Model.Items.Count; i++)
					{
						
						<tr class="row mb-3" id="product@(Model.Items[i].Id)">
							<td class="col-lg-2 col-4">
								<img class="img-fluid shadow-lg" src="data:img/jpg;base64,@await imageService.GetAsync(Model.Items[i].ImageId)" />
							</td>
							<td class="col-lg-3 col-6 fw-bold">@Model.Items[i].Name</td>
							<td class="col-lg-1 col-3">
								<div class="flex-md-row d-md-flex">
									<input hidden asp-for="Items[i].Id" value="@Model.Items[i].Id" />
									<input hidden asp-for="Items[i].Price" value="@Model.Items[i].Price" />
									<input hidden asp-for="Items[i].Name" value="@Model.Items[i].Name" />
									<input hidden asp-for="Items[i].ImageId" value="@Model.Items[i].ImageId" />
									<input hidden asp-for="Items[i].Quantity" size="1" class="product-quantity-hidden" productId="@Model.Items[i].Id" value="@Model.Items[i].Quantity">
									<span>@Model.Items[i].Price.ToString() @(await helperService.Currency())</span>
									
								</div>
							</td>
							<td class="col-lg-1 col-5 align-middle">
								<div class="flex-row d-flex">
									<a class="btn p-1 minus-button" @(Model.Items[i].Quantity == 1 ? "disabled" : "") productId="@Model.Items[i].Id"><i class="fa-solid fa-minus"></i></a>
									<span class=" p-1 product-quantity" productId="@Model.Items[i].Id">@Model.Items[i].Quantity</span>
									<a class="btn p-1 plus-button me-auto" productId="@Model.Items[i].Id"><i class="fa-solid fa-plus"></i></a>
								</div>

							</td>
							<td class="col-lg-1 col-3 align-middle">

								<div class="flex-md-row d-md-flex">
									<span class="d-block d-md-none">Total: </span>
									<span class="product-total" productId=@Model.Items[i].Id>@((Model.Items[i].Price * Model.Items[i].Quantity).ToString("f2")) @(await helperService.Currency())</span>

								</div>
							</td>
							<td class="col-lg-1 col-1 me-auto">
								<a class="btn p-0 m-0 col-1 delete-button" productId="@Model.Items[i].Id"><i class="fa-solid fa-trash"></i></a>
							</td>
						</tr>
						
					}


				</tbody>

			</table>

			<table class="empty-cart table shadow-lg bg-transparent @(Model.Items.Any() ? "d-none" : "d-block")">
				<tbody>
					<tr>
						<td>
							<p>There are no items in your shopping cart.</p>
						</td>
					</tr>
				</tbody>
			</table>

		</div>


		<div class="row checkout-panel @(Model.Items.Any() ? "d-block" : "d-none")">
			<div class="card shadow-lg bg-transparent ">
				<div class="card-body">
					@*<h5 class="card-title mb-3 text-center">Order Summary</h5>*@

					<div class="d-flex flex-row mb-3 justify-content-center">
						<span class="p-2">Items:</span>
						<span class="p-2 ps-1" id="total-items">@Model.TotalItems</span>
					</div>


					<div class="d-flex flex-row mb-3 justify-content-center">
						<h4 class="p-2">Total:</h4>
						<h4 class="p-2" id="total">@Model.Total</h4>
						<h4 class="p-2 ps-0">@Model.Currency</h4>
					</div>

					<div class="d-flex flex-row mb-3">
						<button asp-controller="Orders" asp-action="ShoppingCart" type="submit" class="btn btn-primary w-100">Checkout</button>
					</div>


				</div>
			</div>
		</div>




	</form>




@section Scripts{
	<script src="~/js/shoppingCartEvents.js"></script>
}