@model IEnumerable<OrderListViewModel>
@inject IImageService imageService
@inject IHelperService helperService

@{
	ViewData["Title"] = "My Orders";
}

<div class="container">
	<h2>Order History</h2>
	<div class="row">
		@foreach (var order in Model)
		{
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="row">
						<img class="card-img-top" src="data:img/jpg;base64,@await imageService.GetAsync(order.Products.First().ImageId)">
					</div>
					<div class="card-body">
						<p class="card-text"><strong>Date:</strong>@order.Date.ToString("dd MMMM yyyy")</p>
						<p class="card-text"><strong>Recipient:</strong>@order.FirstName @order.LastName</p>
						<p class="card-text"><strong>Total Amount:</strong> @order.Total @await helperService.Currency()</p>
						<p class="card-text"><strong>Status:</strong> @order.Status</p>
						<p></p>
					</div>
				</div>
			</div>
		}


	</div>
</div>