@using System.Security.Claims
@model CheckoutFormViewModel
@inject IAddressService addressService;
@{
	var addressOptions = await addressService.GetAddressOptionsAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));
}


<form method="post">
	<ul hidden>
		@for (int i = 0; i < Model.Items.Count; i++)
		{
			<li>
				<input asp-for="Items[i].Id" value="@Model.Items[i].Id" />
				<input asp-for="Items[i].Quantity" value="@Model.Items[i].Quantity" />
			</li>
		}
	</ul>


	@if (!User?.Identity?.IsAuthenticated ?? false)
	{
		<div class="container-fluid">


			<div class="row mb-3">
				<div class="col-6 col-md-4 mb-3">
					<label asp-for="Email">Email</label>
					<input class="form-control" asp-for="Email" />
					<span asp-validation-for="Email"></span>
				</div>
			</div>

		</div>

		<partial name="_AddressForm" model="new AddressFormViewModel()"> </partial>
	}
	else
	{
		<div class="container-fluid">

			
			<select class="form-select address-picker" aria-label="Select Address">
				@foreach (var address in addressOptions)
				{
					<option value="@address.Id">
						<div class="row">
							<div class="col col-md-5">@address.StreetAddress</div>
							<div class="col col-md-2">@address.City</div>
							<div class="col col-md-2">@address.Country</div>
						</div>
					</option>
				}
				<option value="enterNewAddress">
					Enter New Address
				</option>

			</select>

		</div>
		
		<div  class="result-box">

		</div>


	}

	<div class="container-fluid">

		<div class="d-flex flex-row mb-3">
			<button asp-controller="Orders" asp-action="Checkout" type="submit" class="btn btn-primary w-100">Checkout</button>
		</div>
	</div>
</form>



@section Scripts{
	<script src="~/js/fetchAddress.js"></script>
}