@model AllOrderProcessViewModel
@inject IImageService imageService





<div class="container-fluid">
	

	<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
			<a orderStatus="@OrderStatus.Pending" class=" btn btn-secondary active order-type-button pending-orders-button text-decoration-none text-light">Pending</a>
			<a orderStatus="@OrderStatus.Processing" class=" btn btn-secondary order-type-button text-decoration-none text-light">Processing</a>
			<a orderStatus="@OrderStatus.Complete" class="btn btn-secondary order-type-button text-decoration-none text-light">Complete</a>
			<a orderStatus="@OrderStatus.Declined" class="btn btn-secondary order-type-button text-decoration-none text-light">Declined</a>
	</div>


	<div class="orders-list">
		<partial name="_OrderList" model="@Model" />
	</div>


</div>

@section Scripts{
	<script src="~/js/processOrders.js"></script>
	<script src="~/lib/microsoft//signalr/dist/browser/signalr.js"></script>
	<script src="~/js/SignalR/updateOrders.js"></script>
}

