@model OrderProcessViewModel
@inject IImageService imageService
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="container-fluid">
	<h3>Order Details</h3>
	<ul class="list-group">
		<li class="list-group-item d-md-block d-none ">
			<div class="row">
				<div class="col col-md-2 fw-bold">
					Date:
				</div>
				<div class="col col-md-2 fw-bold">
					Recipient:
				</div>
				<div class="col col-md-5 fw-bold">
					Address:
				</div>
				<div class="col-6 col-md-1 fw-bold">
					Total:
				</div>
				<div class="col-6 col-md-2 fw-bold">
					Status:
				</div>

			</div>
		</li>


		<li class="list-group-item">
			<div class="row">
				<div class="col-12 col-md-2 mb-2">
					<label class="d-block d-sm-none fw-bold">
						Date
					</label>
					 @Model.Date.ToString("d MMMM yyyy - HH:MM");
					 </div>
				<div class="col-12 col-md-2 mb-2">
					<label class="d-block d-sm-none fw-bold">
						Recipient
					</label>
					@Model.FirstName @Model.LastName 
				</div>
				<div class="col-12 col-md-5 mb-2">
					<label class="d-block d-sm-none fw-bold">
						Address
					</label>
					@Model.StreetAddress @Model.City @Model.Country
				</div>
				<div class="col-6 col-md-1 mb-2">
					<label class="d-block d-sm-none fw-bold">
						Total
					</label>
					@Model.Total.ToString("f2");
				</div>
				<div class="col-6 col-md-1 mb-2">
					<label class="d-block d-sm-none fw-bold">
						Status
					</label>
					@Model.Status;
				</div>
				
			</div>
		</li>
	</ul>
	<h3>Contacts</h3>
	<ul class="list-group">
		<li class="list-group-item d-md-block d-none ">
			<div class="row">
				<div class="col-6 col-md-2 fw-bold">
					Email:
				</div>
				<div class="col-6 col-md-2 fw-bold">
					Phone:
				</div>
				

			</div>
		</li>


		<li class="list-group-item">
			<div class="row">
				<div class="col-6 col-md-2 mb-2">
					<label class="d-block d-sm-none fw-bold">
						Email
					</label>
					 @(Model.Email ?? "")
					 </div>
				<div class="col-6 col-md-2 mb-2">
					<label class="d-block d-sm-none fw-bold">
						Phone
					</label>
					@(Model.PhoneNumber ?? "")
				</div>
				
				
			</div>
		</li>
	</ul>
	<h3>Products</h3>
	<ul class="list-group">
		@foreach (var product in Model.Products)
		{
			<li class="list-group-item">
				<div class="row">
					<a asp-area="Admin" asp-controller="Products" asp-action="All" asp-route-categoryId="@product.CategoryId" asp-route-subcategoryId="@product.SubcategoryId" asp-route-productSeriesId="@product.ProductSeriesId">
					<img class="col-6 col-md-3" src="data:img/jpg;base64,@await imageService.GetAsync(product.ImageId)">

					</a>
					<div class="col-6 col-md-4">
						<strong>Name:</strong>@product.Name @if(product.Removed){
							<span class="text-danger fw-bold">REMOVED</span>
						}
					</div>
					<div class="col-6 col-md-4">
						<strong>Price:</strong>@product.Price 
					</div>
					<div class="col-6 col-md-4">
						<strong>Quantity:</strong>@product.Quantity 
					</div>
				</div>
			</li>
		}

	</ul>
	@if(Model.Status == OrderStatus.Pending)
	{
		<div class="row mt-3 mb-3">
		<a asp-area="Admin" asp-controller="Orders" asp-action="Process" asp-route-orderId="@Model.Id" asp-route-status="@OrderStatus.Processing" class="m-auto col-3 btn btn-success">Accept</a>
		<a asp-area="Admin" asp-controller="Orders" asp-action="Process" asp-route-orderId="@Model.Id" asp-route-status="@OrderStatus.Declined" class="m-auto col-3 btn btn-danger">Decline</a>
		</div>
	}else if (Model.Status == OrderStatus.Processing)
	{
		<div class="row mb-3">
		<a asp-area="Admin" asp-controller="Orders" asp-action="Process" asp-route-orderId="@Model.Id" asp-route-status="@OrderStatus.Complete" class="m-auto col-3 btn btn-success">Complete</a>
		<a asp-area="Admin" asp-controller="Orders" asp-action="Process" asp-route-orderId="@Model.Id" asp-route-status="@OrderStatus.Declined" class="m-auto col-3 btn btn-danger">Decline</a>
		</div>
	}else{
		<div>
			<div class="row mb-3">
		<a asp-area="Admin" asp-controller="Orders" asp-action="Process" asp-route-orderId="@Model.Id" asp-route-status="@OrderStatus.Processing" class="m-auto col-3 btn btn-warning">Reopen</a>
		
		</div>
		</div>
	}
	
	<form class="form-control" method="post">
		<h3>Notes</h3>
		
		<textarea id="admin-note" class="form-control form-text mb-1">@Model.AdminNote</textarea>
		<input hidden id="order-id" value="@Model.Id"/>
		<button class="btn btn-primary" id="add-note" type="button">Save</button>
	</form>


</div>



		@section Scripts{
			<script src="~/js/addAdminNote.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		}