@model AllOrderProcessViewModel

@{
	ViewData["Title"] = @Model.Title;
}
<h2>@ViewData["Title"]</h2>


	<ul class="list-group">
		<li class="list-group-item d-lg-block d-none border-1 border-dark">
				<div class="row">
					<div class="col col-lg-2 fw-bold">
						Date:
					</div>
					<div class="col col-lg-2 fw-bold">
						Recipient:
					</div>
					<div class="col col-lg-4 fw-bold">
						Address:
					</div>
					<div class="col-6 col-lg-1 fw-bold">
						Total:
					</div>
					<div class="col-6 col-lg-1 fw-bold">
						Status:
					</div>
					<div class="col-12 col-lg-2 fw-bold">
						
					</div>
				</div>
			</li>
		
		@foreach(var order in Model.Orders){
			<li class="list-group-item border-1 border-dark">
				<div class="row">
					<div class="col-12 col-lg-2 mb-2">
						<label class="d-block d-lg-none fw-bold">
							Date
						</label>
						@order.Date.ToString("d MMMM yyyy - hh:mm")
					</div>
					<div class="col-12 col-lg-2 mb-2">
						<label class="d-block d-lg-none fw-bold">
							Recipient
						</label>
						@order.FirstName @order.LastName
					</div>
					<div class="col-12 col-lg-4 mb-2">
						<label class="d-block d-lg-none fw-bold">
							Address
						</label>
						@order.StreetAddress @order.City @order.Country @order.ZipCode
					</div>
					<div class="col-6 col-lg-1 mb-2">
						<label class="d-block d-lg-none fw-bold">
							Total
						</label>
						@order.Total.ToString("f2")
					</div>
					<div class="col-6 col-lg-1 mb-2">
						<label class="d-block d-lg-none fw-bold">
							Status
						</label>
						@order.Status
					</div>
					<div class="col-12 col-lg-2 mb-2 text-center">
						<a class="btn btn-primary me-auto " asp-area="Admin" asp-controller="Orders" asp-action="Details" asp-route-orderId="@order.Id">Details</a>
					</div>
				</div>
			</li>
		}
	</ul>