@model IEnumerable<UserPromoteViewModel>

<div class="container-fluid">
	<ul class="list-group">
		<li class="list-group-item d-md-block d-none border-1 border-dark">
				<div class="row">
					<div class="col col-md-3 fw-bold">
						Username:
					</div>
					<div class="col col-md-3 fw-bold">
						Email:
					</div>
					<div class="col-6 col-md-3 fw-bold">
						
					</div>
					<div class="col-6 col-md-3 fw-bold">
						
					</div>
					
				</div>
			</li>
		
		@foreach(var user in Model){
			<li class="list-group-item border-1 border-dark">
				<div class="row">
					<div class="col-6 col-md-3 mb-2">
						<label class="d-block d-sm-none fw-bold">
							Username
						</label>
						@user.Username
					</div>
					<div class="col-6 col-md-3 mb-2">
						<label class="d-block d-sm-none fw-bold">
							Email
						</label>
						@user.Email
					</div>
					<div class="col-6 col-md-3 mb-2">
						@if (!user.IsModerator)
						{
						<a asp-area="Admin" asp-controller="User" asp-action="MakeModerator" asp-route-userId="@user.UserId" class="btn btn-primary">Promote to Moderator</a>
						}else{
						<a asp-area="Admin" asp-controller="User" asp-action="RemoveModerator" asp-route-userId="@user.UserId" class="btn btn-primary">Demote to User</a>
						}
					</div>
					<div class="col-6 col-md-3 mb-2">
						@if (!user.IsAdmin)
						{
						<a onclick="return confirm('Are you sure? This is permanent!')" asp-area="Admin" asp-controller="User" asp-action="MakeAdmin" asp-route-userId="@user.UserId" class="btn btn-success">Promote to Admin</a>
						}else{
						<p>Already an admin!</p>
						}
					</div>

				</div>
			</li>
		}
	</ul>

</div>