@using System.Security.Claims
@model ProductDetailsViewModel
@inject IImageService imageService
@inject IHelperService helperService
@inject IFavoriteService favoriteService
@{
	string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
	ViewData["Title"] = Model.Name;
}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container-fluid">
	<h2>@ViewData["Title"]</h2>

	<div class="row">
		<div class="col-lg-5 me-3 ">
			<div class="row mb-3">

				<div class="card p-0">
					<img class="main-image" src="data:img/jpg;base64,@await imageService.GetAsync(Model.Images.First())" />
				</div>
			</div>
			<div class="row">
				@foreach (var picture in Model.Images)
				{
					<div class="col-4">
						<div class="card mb-1" data-toggle="tooltip-lg" data-placement="bottom" title="@Model.Name">
							<a class="all-images">
								@*<div class="card-body">*@
									<img src="data:img/jpg;base64,@await imageService.GetAsync(picture)" class="card-img-bottom alt-img-src" alt="@Model.Name">
								@*</div>*@
							</a>
						</div>
					</div>
				}

			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="card mb-5 p-3">
					<h4 class="mb-2 m-auto">@Model.Name</h4>

					@if(@Model.IsAvailable)
					{
						<p class="d-inline-flex m-auto mb-2">Price: @Model.Price @(await helperService.Currency())</p>
						<a class="d-inline-flex m-auto mb-3 btn btn-primary buy-button" productId="@Model.Id">Add to Cart</a>
					}
					else
					{
						<p class="d-inline-flex m-auto mb-2 text-danger">Out of Stock</p>
					}

					@if(User?.Identity?.IsAuthenticated ?? false)
					{
										<a productId=@Model.Id class="favorite-item m-auto text-dark mb-3"><i style="color:@(await helperService.FavoriteColor())" class="fa-2x @(await favoriteService.IsFavorited(userId, Model.Id) ? "fa-solid" : "fa-regular") fa-@(await helperService.FavoriteIcon())"></i></a>
					}
					<textarea class="p-3 mb-3" style="resize:none" disabled>@Model.Description</textarea>

					@if (Model.Materials.Any())
					{
						<p class="mb-1 ms-auto me-auto">Materials:</p>
						<div class="row justify-content-center mb-3">
							@foreach (var material in Model.Materials)
							{
								<div class="w-auto d-inline-flex justify-content-center me-2 rounded-start rounded-end bg-secondary text-white text-center">
									<a class="text-decoration-none text-light" asp-area="" asp-controller="Products" asp-action="ProductsFiltered" asp-route-materials=@material.Id>@material.Name</a>
									</div>

							}
						</div>
					}

					@if (Model.Tags.Any())
					{
						<p class=" mb-1 ms-auto me-auto">Tags:</p>

						<div class="row justify-content-center mb-3">
							@foreach (var tag in Model.Tags)
							{
								<div class="w-auto d-inline-flex justify-content-center me-2 rounded-start rounded-end bg-info text-white text-center">
									<a class="text-decoration-none text-light" asp-area="" asp-controller="Products" asp-action="ProductsFiltered" asp-route-tags="@tag.Name">@tag.Name</a>
									
									</div>

							}
						</div>
					}


					@if (Model.ProductSeries.Any())
					{
						<p class="mb-1 ms-auto me-auto">Other Colors:</p>

						<div class="row ms-auto me-auto justify-content-center">
							@foreach (var product in Model.ProductSeries)
							{
								<a class="text-decoration-none col-3 pt-2  text-black product-link" asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
									<img class="img-thumbnail" src="data:img/jpg;base64,@await imageService.GetAsync(product.ImageId)">

								</a>


							}
						</div>
					}



				</div>

			</div>
			<div class="row">
			</div>

		</div>
	</div>


</div>

@section Scripts {
	<script src="https://kit.fontawesome.com/2d34f22aab.js" crossorigin="anonymous"></script>
	<script src="~/js/swapImages.js"></script>
	<script src="~/js/showImageThumbNails.js"></script>
	<script src="~/js/addToCart.js"></script>
	<script src="~/js/favorites.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}