@model ProductDetailsViewModel


@{
	ViewData["Title"] = Model.Name;

}

<div class="container-fluid">


	<div class="row">
		<div class="col-md-5">
			<div class="card mb-1">
				<img src="~/img/@Model.Images.First()" />
			</div>
		</div>
		<div class="col-md-7">
			<div class="card mb-1 p-3">
				<h4 class="mb-2 m-auto">@Model.Name</h4>

				<p class="d-inline-flex m-auto mb-2">Price: @Model.Price</p>
				<button class="d-inline-flex m-auto mb-3 btn btn-primary">BUY</button>
				<textarea class="p-3 mb-3" disabled>@Model.Description</textarea>
				<p class="p-3 mb-3 m-auto">Materials:</p>
				@foreach(var material in Model.Materials)
				{
					<div class="card d-inline-flex">@material</div>
				
				}

				<p class="p-3 mb-3 m-auto">Tags:</p>
				@foreach(var tag in Model.Tags)
				{
				<p class="p-3 mb-1">@tag</p>
				}
			</div>
			
		</div>
		


	</div>

	<div class="row">
			@foreach (var picture in Model.Images)
			{
				<div class="col-md-1">
					<div class="card mb-1" data-toggle="tooltip-lg" data-placement="bottom" title="@Model.Name">
						
							<div class="card-body">
								<img src="~/img/@picture" class="card-img-bottom" alt="@Model.Name">
							</div>
						
					</div>
				</div>
			}

		


	</div>
</div>