@{
	ViewData["Title"] = "Products";
}
@model ProductsQueryModel;
@inject IImageService imageService;


	<form method="get">
		<input type="number" style="display:none" value="@Model.CategoryId" asp-for="CategoryId"/>
		<input type="number" style="display:none" value="@Model.SubCategoryId" asp-for="SubCategoryId"/>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<!-- Sidebar with filters -->
					<div class="card">
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filtersMenu" aria-expanded="false" aria-controls="multiCollapseExample2">Filters</button>
						<div class="card-body collapse" id="filtersMenu">

							<!-- Colors dropdown -->
							
							<div>
								<button class="btn btn-outline-info d-block filterButton filter-menu" id="colorsButton" type="button">Colors</button>
								<div class="form-group filter-menu" id="colorsOptions" style="display:none">
									<br />
									@foreach (var color in Model.ColorOptions)
									{
										<div class="form-check">
											<input name="colorIds" class="form-check-input" type="checkbox" multiple value="@color.Id" id="Color @color.Id" @(Model.ColorIds.Any(m=>m == color.Id) ? "checked" : "")>
											
											<span style="background-color:#@color.ColorValue;width:18px;height:18px;display:flex;border-radius:40px;border:1px solid black;" asp-validation-for="ColorIds"></span>
										</div>
									}
								</div>
							</div>
							<br />
							<div>
								<button class="btn-outline-info btn d-block filterButton filter-menu" id="materialsButtons" type="button">Materials</button>
								<div class="form-group filter-menu" id="materialsOptions" style="display:none">
								<br />
									@foreach (var material in Model.MaterialOptions)
									{
										<div class="form-check">
											<input name="materials" class="form-check-input" type="checkbox" value="@material.Id" id="@material.Name" @(Model.Materials.Any(m=>m == material.Id) ? "checked" : "")>
											
											<label class="form-check-label" for="@material">
												@material.Name
											</label>
										</div>
									}
								</div>
							</div>
							<br />
							<div>
								<button class="btn-outline-info btn d-block filterButton filter-menu" id="tagsButton" type="button">Tags</button>
								<div class="form-group filter-menu" id="tagsOptions" style="display:none">
								<br />
									@foreach (var tag in Model.TagOptions)
									{
										<div class="form-check">
											<input name="tags" class="form-check-input" type="checkbox" value="@tag.Name" id="@tag" @(Model.Tags.Any(m=>m == tag.Name) ? "checked" : "")>
											<label class="form-check-label" for="@tag">
												@tag.Name
											</label>
										</div>
									}
								</div>
							</div>
							<br />


							<button class="btn btn-primary" type="submit">Apply</button>




						</div>
					</div>
				</div>

				<div class="col-md-9">
					<!-- Search bar -->
					<div class="input-group mb-3">
						<input type="text" class="form-control" asp-for="SearchString" placeholder="Search...">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit">Search</button>
						</div>
					</div>

					<!-- Gallery -->


					<div class="row">
						@foreach (var product in Model.Products)
						{
							<div class="col-md-4">
								<a class="text-decoration-none text-black fw-normal" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
								<div class="card mb-3">
									<img src="data:img/jpg;base64,@await imageService.GetAsync(product.ImageId)" class="card-img-top" alt="@product.Name">
									<div class="card-body">
										<h5 class="card-title">@product.Name</h5>
										<p class="card-text">@product.Price BGN</p>
									</div>
								</div>
								</a>
								
							</div>
						}

					</div>
					<div class="text-center">
						<!-- Page selector -->
						<label for="itemsPerPage">Items per page:</label>
						<div class="form-group col-md-4 d-flex m-auto">
							<select asp-for="ProductsPerPage" class="form-control align-content-center" id="itemsPerPage">
								<option value="3">3</option>
								<option value="6">6</option>
								<option value="9">9</option>
							</select>
						</div>
					</div>
					<br />
					<br />
					<br />
				</div>

			</div>
		</div>
	</form>
	
	

	@section Scripts {

	<script type="text/javascript" src="@Url.Content("~/js/filterProducts.js")"></script>

	}
	


