@model IEnumerable<GalleryViewModel>
@inject IImageService imageService
@{
	ViewData["Title"] = "Galleries";

}

<div class="container-fluid">
	<h2>@ViewData["Title"]</h2>

	<div class="row">
		@if (Model.Any())
		{
			@foreach (var gallery in Model)
			{
				<div class="col col-md-6">
					<div class="card mb-3" data-toggle="tooltip" data-placement="bottom" title="@gallery.Description">
						<a class="text-decoration-none text-black fw-normal" asp-controller="Galleries" asp-action="Show" asp-route-id="@gallery.Id">
							<div class="card-body">
								@*<h5 class="card-title ">@gallery.Name</h5>*@
								<img src="data:img/jpg;base64,@await imageService.GetAsync(gallery.ImageId)" class="card-img-bottom" alt="@gallery.Name" data-toggle="tooltip" data-placement="bottom" title="@gallery.Name">
							</div>
						</a>
					</div>
				</div>
			}
		}


	</div>
</div>